.App {
  text-align: center;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  background-color: rgb(255,255,255,0.5);
  font-size: 4vw;
  text-align: center;
  color: red;
  font-family: 'Orbitron', sans-serif;
}

i:hover {
  cursor: pointer;
  opacity: 0.9;
}

.container {
  padding: 50px;
  color: #39FF14;
  margin: 0 auto;
  text-align: center;
  width: 500px;
  background-position: center;
  background-image: url("img/tom.png");
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Orbitron', sans-serif;
}

.break-container, .session-container, .display-container {
  background-color: rgba(0,0,0,0.7);
  border-radius: 40px;
  border: 1px green solid;
  margin: 5px;
}

#time-left {
  font-size: 5vw;
}

@media screen and (max-width: 600px) {
  /*When screen width less than 600px, instead of displaying the components in 2 row,
  displaying in 3 for better visibility*/
  
  h1 {
    font-size: 8vw;
  }

  .container {
    width: 300px;
  }

  #time-left {
  font-size: 10vw;
  }
}
